@font-face {
    font-family: molde-semi;
    src: url(/Fonts-Molde/molde-semi.ttf);
}
@font-face {
    font-family: molde-light;
    src: url(/Fonts-Molde/molde-light.ttf);
}
@font-face {
    font-family: molde-regular;
    src: url(/Fonts-Molde/molde-regular.ttf);
}

body{padding:0; margin:0; width:100%;}

* {
    box-sizing: border-box;
}

.home-content {
    background: url("asset/");
    background-color: black;
    height: 50rem;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.lapor-content {
    background: url("asset/");
    background-color: cadetblue;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 0;
}

.navbar {
    font-family: molde-semi;
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2.5rem;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.left-navbar {
    flex: 1;
    text-align: right;
}

.left-navbar ul li {
    display: inline-block;
    margin: 0rem 2rem;
    position: relative;
    height: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;
    background: #fff;
}

.navbar a:hover::before {
    width: 100%;
}

.container-laporkan {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-laporkan h1{
    font-family: molde-semi;
}
.container-laporkan h3{
    font-family: molde-regular;
    font-size: medium;
}

.container-laporkan * {
    color: #fff;
}

.container-laporkan div {
    width: 50%;
}

.container-laporkan button {
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    border: 1px solid #fff;
    margin: 1rem;
    font-family: molde-regular;
}

.container-laporkan button:hover {
    background-color: #f1f1f1;
}

.container-laporkan{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    border-radius: 7px;
    border: black solid;
}

.lapor-form {
    background-color: aliceblue;
    width: 100%;
    padding-bottom: 2rem;
    border-radius: 7px;
}

.lapor-form-header {
    background-color: #f1f1f1;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    border-radius: 7px;
}

.lapor-form-header{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
}

.lapor-form-header h1 {
    margin: 0;
    text-align: center;
    font-family: molde-semi;
}

.lapor-form-input-container {
    width: 100%;
}

.lapor-form-input {
    display: flex;
    justify-content: center;
    padding: 0.25rem 6rem;
    font-size: 1.25rem;
    font-family: molde-regular;
}

 .lapor-form-input span {
    width: 15%;
    padding-right: 4rem;
}

.lapor-form-input i {
    color: red;
}

.lapor-form-input input:not([type="checkbox"]){
    width: 70%;
    background-color: #fff;
    border: 0px solid;
    border-radius: 0.2rem;
}

.lapor-form-input input:focus {
    background-color: #f1f1f1;
    font-family: molde-light;
}

.lapor-form-input textarea {
    resize: none;
    background-color: #fff;
    width: 70%;
    height: 8rem;
    border: 0px solid;
    border-radius: 0.2rem;
}

.lapor-form-input textarea:focus {
    background-color: #f1f1f1;
}

#lapor-checkbox {
    margin: 0.5rem;
}

#lapor-button {
    margin: 0.5rem;
}

#lapor-button button {
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 1rem;
    font-size: 1.25rem;
    font-family: molde-semi;
}

#lapor-button button:hover {
    background-color: #f1f1f1;
}

.tentangkami-content {
    background-color: bisque;
    min-height: 100vh;
}

.tentangkami-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}

.tentangkami-container{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
}

.tentangkami-container img {
    height: 8rem;
    width: 8rem;
}

.tentangkami-container h1 {
    font-family: molde-semi;
    text-align: center;
    color: #fff;
}

.tentangkami-container div {
    width: 50%;
    text-align: justify;
    padding: 1rem;
    background-color: rgb(1, 1, 1, 0.3);
    border: #fff solid 1px;
    border-radius: 1rem;
    font-family: molde-light;
}

.panduan-content {
    background-color: #BFB5AE;
    min-height: 100vh;
}

.panduan-container {
    padding: 4rem;
}

.panduan-container{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
}

.panduan-container h1 {
    text-align: left;
    font-size: 3rem;
    font-family: molde-semi;
}

.panduan-container p {
    font-family: molde-regular;
    text-align: justify;
    font-size: 1.5rem;
}

.tentangkami-container .visi {
    width: 100%;
    border-radius: 0;
    text-align: center;
    padding: 2rem 22rem;
}

.tentangkami-container .misi {
    display: flex;
    justify-content: center;
}

.tentangkami-container .misi div {
    background: none;
    border: none;
}

.tentangkami-container .misi div:not(.misi-number){
    margin-right: 2rem;
    width: 25%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellowgreen;
}

footer span {
    color: #fff;
}

footer .footer-social-media {
    display: flex;
    flex-direction: column;
}

footer .footer-social-media div {
    display: flex;
    margin: 0.5rem 4rem;
}

footer .footer-social-media div img {
    width: 1.5rem;
}