body{padding:0; margin:0; width:100%;}

.home-content {
    background: url("asset/");
    background-color: black;
    height: 50rem;
    width: 100%;
}

.lapor-content {
    background: url("asset/");
    background-color: cadetblue;
    height: 50rem;
    width: 100%;
}

.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2.5rem;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.left-navbar {
    flex: 1;
    text-align: right;
}

.left-navbar ul li {
    display: inline-block;
    padding: 0.25rem 2rem;
    position: relative;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.container-laporkan {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-laporkan * {
    color: #fff;
}

.container-laporkan div {
    width: 50%;
}

.container-laporkan button {
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    border: 1px solid #fff;
    margin: 1rem;
}

.container-laporkan button:hover {
    background-color: #f1f1f1;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}

.lapor-form {
    background-color: aliceblue;
    width: 100%;
    padding-bottom: 2rem;
}

.lapor-form-header {
    background-color: #f1f1f1;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.lapor-form-header h1 {
    margin: 0;
    text-align: center;
}

.lapor-form-input-container {
    width: 100%;
}

.lapor-form-input {
    display: flex;
    justify-content: center;
    padding: 0.25rem 6rem;
    font-size: 1.25rem;
}

 .lapor-form-input span {
    width: 15%;
    padding-right: 4rem;
}

.lapor-form-input i {
    color: red;
}

.lapor-form-input input:not([type="checkbox"]){
    width: 70%;
    background-color: #fff;
    border: 0px solid;
    border-radius: 0.2rem;
}

.lapor-form-input input:focus {
    background-color: #f1f1f1;
}

.lapor-form-input textarea {
    resize: none;
    background-color: #fff;
    width: 70%;
    height: 8rem;
    border: 0px solid;
    border-radius: 0.2rem;
}

.lapor-form-input textarea:focus {
    background-color: #f1f1f1;
}

#lapor-checkbox {
    margin: 0.5rem;
}

#lapor-button {
    margin: 0.5rem;
}

#lapor-button button {
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 1rem;
    font-size: 1.25rem;
}

#lapor-button button:hover {
    background-color: #f1f1f1;
}